<div class="modal-header">
        <div ng-if="addCtrl.isLogin">
            <input  type="radio" name="test" ng-model="addCtrl.isForDelivery" ng-value="1" class="form-gorup" ng-change="addCtrl.onChangeRadio()"> Home Delivery
            <input  type="radio" name="test" ng-model="addCtrl.isForDelivery" ng-value="0" class="form-group" checked ng-change="addCtrl.onChangeRadio()" ng-checked="true"> Take way
        </div>
    </div>
    <div class="modal-body col-sm-12" id="modal-body">
        <div ng-if="addCtrl.isLogin">
            <div class="col-sm-12" ng-if="!addCtrl.isConfirm" >
                <div class="col-sm-6">
                    <p>Select Address</p>
                    <div class="addressBox" ng-repeat="addressList in addCtrl.addressList" ng-click="addCtrl.selectAddress(addressList)"
                    ng-class="(addCtrl.selectedAddress.addressId == addressList.addressId) ? 'selected' : ''">
                        <p ng-bind="addressList.addrLine1"></p>
                        <p ng-bind="addressList.addrLine2"></p>
                        <p ng-bind="addressList.pinCode+', '+addressList.state + ', ' +addressList.country"></p>
                    </div>
                    <div>
                        <button class="btn btn-primary loginButton" type="button" ng-click="addCtrl.confirmOrder()">Confirm Order</button>
                        <button class="btn btn-normal" type="button" ng-click="addCtrl.cancel()">Cancel</button>
                    </div>
                </div>
                <div class="col-sm-6" ng-if="addCtrl.isForDelivery == '1'">
                    <p>Add New Address</p>
                    <div>
                        <input type="text"  class="form-control" ng-model="addCtrl.adressDetails.addrLine1" placeholder="Address Line 1">
                    </div>
                    <div>
                        <input type="text"  class="form-control" ng-model="addCtrl.adressDetails.addrLine2" placeholder="Address Line 2">
                    </div>
                    <div>
                        <input type="text" class="form-control" ng-model="addCtrl.adressDetails.picode" placeholder="Pincode">
                    </div>
                    <div>
                       <input type="text" class="form-control col-sm-6" ng-model="addCtrl.adressDetails.state" placeholder="state">
                       <input type="text" class="form-control col-sm-6" ng-model="addCtrl.adressDetails.country" placeholder="country">
                    </div>
                    <div>
                            <button class="btn btn-primary loginButton" type="button" ng-click="addCtrl.addAddress()">Add Address</button>
                            <button class="btn btn-normal" type="button" ng-click="addCtrl.cancel()">Cancel</button>
                    </div>
    
                </div>
                <div class="col-sm-6" ng-if="addCtrl.isForDelivery == '0'">
                        <div class="col-sm-10">
                            <p> Your order will be Ready within 45 mins.</p>
                        </div>
                    </div>
            </div>


            <div class=" col-sm-12" ng-if="addCtrl.isConfirm" id="main-wrapper">
                <div class="mb15">
                    <p ng-if="addCtrl.isForDelivery == '0'" >Your Order will be ready in 45 mins you can pick up your food from this address :</p>
                    <p ng-if="addCtrl.isForDelivery == '1'" >Your Order will be delivered in 45 mins to this address :</p>
                <b ng-bind="addCtrl.selectedAddress.addrLine1"></b>
                <b ng-bind="addCtrl.selectedAddress.addrLine2"></b>
                <b ng-bind="addCtrl.selectedAddress.pinCode+', '+addCtrl.selectedAddress.state + ', ' +addCtrl.selectedAddress.country"></b>
                <br>
                </div>
                

                <div class=" col-sm-8 side-panel">
                <div class="sd-panel-heading">
                    <h5 class="toggle-title">My Check</h5>
                    <div class="slideToggle">
                        <ul class="list-unstyled">
                            <li ng-repeat=" cartObj in addCtrl.saveCartDetails track by $index">
                                <div ng-init=" addCtrl.editClick[$index]  = false;">
                                    <p class="checkOutItem" ng-if="addCtrl.editClick[$index]">
                                        <input type="number" class="inline-inputText" ng-model="cartObj.quantity" 
                                        ng-change="addCtrl.addOrRemoveItem(cartObj)" placeholder="0">
                                    </p>
                                    <p ng-bind="cartObj.quantity" ng-if="!addCtrl.editClick[$index]" class="checkOutItem"></p>
                                    <p ng-bind="' x ' + cartObj.itemName" class="checkOutItem"></p>
                                    <p ng-bind="' ( ' + cartObj.specialReq + ' )'" ng-if="cartObj.specialReq" class="checkOutItem"></p>
                                    <span class="icon-link">
                                        <i class="fa fa-pencil" ng-click="addCtrl.editClick[$index] = !addCtrl.editClick[$index]"></i>
                                        <i class="fa fa-times" ng-click="cartObj.quantity = 0; addCtrl.addOrRemoveItem(cartObj);"></i>
                                    </span>
                                </div>
                                <p class="price" ng-bind="'Price : '+ cartObj.price*cartObj.quantity"></p>
                            </li>
                            <li ng-if="addCtrl.saveCartDetails.length == 0 ">
                                <div>
                                    <p class="emptyCheckOut"> Your Cart is Empty.</p>
                                </div>
                            </li>
                            <li ng-if="addCtrl.saveCartDetails.length > 0">
                                <p>Total</p>
                                <p class="price-total" ng-bind="addCtrl.totalPrice"></p>
                            </li>
                        </ul>

                        <div class="checkout">
                            <a class="btn btn-default-red" ng-click="addCtrl.checkout()">
                                <i class="fa fa-shopping-cart"></i>Checkout</a>
                            <button class="btn btn-normal" type="button" ng-click="addCtrl.cancel()">Cancel</button>
                        </div>
                        
                    </div>
                    <!--end .slide-toggle -->
                </div>
                </div>
                </div>

        </div>

    </div>
    <div class="modal-footer ">
    </div>
