 <div ng-controller="homeController as hCtrl"> 
    <!-- <ul>
        <li ng-click="hCtrl.openOrderPage()"><a>Place Order</a></li>

    </ul> -->
    

	<div id="main-wrapper">
		<header id="header">
			<div class="header-top-bar">
				<div class="container">
					<div class="row">
						<div class="col-md-5 col-sm-12 col-xs-12">
							<ul class="header-social">
								<li><a href="#"><i class="fa fa-facebook-square"></i></a>
								</li>
								<li><a href="#"><i class="fa fa-twitter-square"></i></a>
								</li>
								<li><a href="#"><i class="fa fa-google-plus-square"></i></a>
								</li>
								<li><a href="#"><i class="fa fa-linkedin-square"></i></a>
								</li>
								<li><a href="#"><i class="fa fa-pinterest-square"></i></a>
								</li>
							</ul>
						</div>
						<div class="col-md-7 col-sm-12 col-xs-12">
							<p class="call-us">
								Call Us: <a class="font" href="#">+1123 4567</a>
								<span class="open-now"><i class="fa fa-check-square"></i>We are open now(9am-10pm)</span>
								<span class="close-now"><i class="fa fa-square"></i>We are close now(10pm-9am)</span>
							</p>
						</div>
					</div> 
				</div> 
			</div>
			<div class="header-nav-bar">
				<nav class="navbar navbar-default" role="navigation">
					<div class="container">
						<!-- Brand and toggle get grouped for better mobile display -->
						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
							<a class="navbar-brand" href="#">
								<img src="img/content/header-logo.png" alt="TakeAway">
							</a>
						</div>
                        <!-- <li ng-click="hCtrl.openOrderPage()"><a>Place Order</a></li> -->
						<!-- Collect the nav links, forms, and other content for toggling -->
						<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
							<ul class="nav navbar-nav navbar-right">
								<li class="dropdown">
									<a href="#" class="dropdown-toggle act" data-toggle="dropdown" >Home</a>
								</li>
								<li class="dropdown">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown" ng-click="hCtrl.openOrderPage()">Place Order</span></a>
								</li>
								<li class="dropdown">
										<a href="#" class="dropdown-toggle" data-toggle="dropdown" ng-click="hCtrl.openOrderReviewPage()">Review Orders</span></a>
									</li>
								<li class="dropdown">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown">Reviews <span class="caret"></span></a>
								</li>
								<li><a href="contact-us.html">Contact us</a>
								</li>
							</ul>
						</div>
						<!-- /.navbar-collapse -->
					</div>
					<!-- /.container-fluid -->
				</nav>
			</div>
			<!-- end .header-nav-bar -->
			<!-- small menu section -->
			<div class="small-menu">
				<div class="container">
					<ul class="list-unstyled list-inline">
						<li><a href="#">Home</a>
						</li>
						<li><i class="fa fa-chevron-right"></i>
						</li>
						<li><a href="our-team.html">Team</a>
						</li>
					</ul>
				</div>
				<!-- end .container-->
			</div>
			<!--end .small-menu -->
		</header>
		<!-- end #header -->
		<div ng-include="hCtrl.homePageUrl"></div>
		<!-- all page-content star -->
		<div ng-if="hCtrl.isChildPage != true">

            <div id="page-content" >



            <div class="w3-display-container mySlides">
                    <img src="img/content/home-slide-1.jpg" style="width:100%; height: 550px;" height=400>
                    <div class="w3-display-center w3-large w3-container w3-padding-16 w3-black">
                      Trolltunga, Norway
                    </div>
                  </div>
                  
                  <div class="w3-display-container mySlides">
                    <img src="img/content/home-slide-2.jpg" style="width:100%; height: 550px;">
                    <div class="w3-display-center w3-large w3-container w3-padding-16 w3-black">
                      Northern Lights, Norway
                    </div>
                  </div>
                  
                  <div class="w3-display-container mySlides">
                    <img src="img/content/home-slide-3.jpg" style="width:100%; height: 550px;">
                    <div class="w3-display-center w3-large w3-container w3-padding-16 w3-black">
                      Beautiful Mountains
                    </div>
                  </div>
                  <button class="w3-button w3-display-left w3-black" ng-click="hCtrl.plusDivs(-1)">&#10094;</button>
                  <button class="w3-button w3-display-right w3-black" ng-click="hCtrl.plusDivs(1)">&#10095;</button>
                  
                  </div>
                  




			<!-- purchase TakeAway section start -->
			<div class="container">
				<div class="call-to-action-section">
					<div class="css-table-cell">
						<div class="icon">
							<img src="img/content/call-to-action-icon1.png" alt="">
						</div>
					</div>
					<div class="text css-table">
						<div class="css-table-cell">
							<h4>Purchase TakeAway</h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi..</p>
						</div>

						<div class="css-table-cell">
							<a href="#" class="btn btn-default-red  pad-bottom"><i class="fa fa-file-text-o"></i> Read  More</a>
						</div>

						<div class="css-table-cell">
							<a href="#" class="btn btn-default-red-inverse pad-top"><i class="fa fa-shopping-cart"></i> Purchase Now!</a>
						</div>
					</div>
				</div>
				<!-- end .call-to-action-section -->
			</div>
			<!-- end .container -->
			<!-- end purchase TakeAway section  -->

			<!-- start .category box section -->
			<div class="category-boxes-icons">
				<div class=" container">
					<div class="row">
						<div class="col-md-3 col-sm-6 col-xs-12 text-center">
							<div class="category-boxes-item">
								<figure>
									<img src="img/content/starter.png">
									<h4>Starters</h4>
									<figcaption> <a href="#" class="btn btn-default-white"><i class="fa fa-file-text-o"></i> Read  More</a> 
									</figcaption>
								</figure>
							</div>
						</div>

						<div class="col-md-3 col-sm-6 col-xs-12  text-center">
							<div class="category-boxes-item">
								<figure>
									<img src="img/content/main-dish.png">
									<h4>Main Dishes</h4>
									<figcaption><a href="#" class="btn btn-default-white"><i class="fa fa-file-text-o"></i> Read  More</a>
									</figcaption>
								</figure>
							</div>
						</div>

						<div class="col-md-3 col-sm-6 col-xs-12 text-center">
							<div class="category-boxes-item">
								<figure>
									<img src="img/content/desserts.png">
									<h4>Desserts</h4>
									<figcaption> <a href="#" class="btn btn-default-white"><i class="fa fa-file-text-o"></i> Read  More</a> 
									</figcaption>
								</figure>
							</div>
						</div>

						<div class="col-md-3 col-sm-6 col-xs-12 text-center">
							<div class="category-boxes-item">
								<figure>
									<img class="img-responsive" src="img/content/drinks.png">
									<h4>Drinks</h4>
									<figcaption> <a href="#" class="btn btn-default-white"><i class="fa fa-file-text-o"></i> Read  More</a> 
									</figcaption>
								</figure>
							</div>
						</div>
					</div>
					<!-- end .row -->
				</div>
				<!-- end .category-boxes-icons -->
			</div>
			<!-- container -->

			<!-- star.chef-welcome -->
			<div class="chef-welcome">
				<div class="container">
					<h1>Welcome</h1>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi. Cras vel lorem. Etiam pellentesque aliquet tellus. Phasellus pharetra nulla ac diam.</p>
					<a href="#" class="btn btn-default-red"><i class="fa fa-file-text-o"></i> Read  More</a>
				</div>
				<!-- end .container -->
			</div>
			<!--end .chef-welcome-->

			<!--start small-slide section -->
			<div id="sm-slide-section">
				<div class="container">
					<div class="slide-heading text-center">
						<h4>Our Clients Say</h4>
					</div>
					<!--end .clients heading-->
					<div id="slide-content" class="owl-carousel">
						<div class="item">
							<img src="img/content/sm-slide-img1.png" alt="img-1">
							<div class="details">
								<h5><a href="#">jane doe</a>
								</h5>
								<ul class="list-inline">
									<li><a href="#"><i class="fa fa-star"></i></a>
									</li>
									<li><a href="#"><i class="fa fa-star"></i></a>
									</li>
									<li><a href="#"><i class="fa fa-star"></i></a>
									</li>
									<li><a href="#"><i class="fa fa-star"></i></a>
									</li>
									<li><a href="#"><i class="fa fa-star"></i></a>
									</li>
								</ul>
								<p>Absolutely delicious! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi.</p>
							</div>
						</div>
						<!-- end item class div-->

						<div class="item">
							<img src="img/content/sm-slide-img-2.png" alt="img-2">
							<div class="details">
								<h5><a href="#">chrich woods</a>
								</h5>
								<ul class="list-inline">
									<li><a href="#"><i class="fa fa-star"></i></a>
									</li>
									<li><a href="#"><i class="fa fa-star"></i></a>
									</li>
									<li><a href="#"><i class="fa fa-star"></i></a>
									</li>
									<li><a href="#"><i class="fa fa-star"></i></a>
									</li>
									<li><a href="#"><i class="fa fa-star"></i></a>
									</li>
								</ul>
								<p>Absolutely delicious! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi.</p>
							</div>
						</div>
						<!-- end item class div-->

						<div class="item">
							<img src="img/content/sm-slide-img1.png" alt="img-1">
							<div class="details">
								<h5><a href="#">jane doe</a>
								</h5>
								<ul class="list-unstyled list-inline">
									<li><a href="#"><i class="fa fa-star"></i></a>
									</li>
									<li><a href="#"><i class="fa fa-star"></i></a>
									</li>
									<li><a href="#"><i class="fa fa-star"></i></a>
									</li>
									<li><a href="#"><i class="fa fa-star"></i></a>
									</li>
									<li><a href="#"><i class="fa fa-star"></i></a>
									</li>
								</ul>
								<p>Absolutely delicious! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi.</p>
							</div>
						</div>
						<!-- end item class div-->

						<div class="item">
							<img src="img/content/sm-slide-img-2.png" alt="img-2">
							<div class="details">
								<h5><a href="#">chrich woods</a>
								</h5>
								<ul class="list-inline">
									<li><a href="#"><i class="fa fa-star"></i></a>
									</li>
									<li><a href="#"><i class="fa fa-star"></i></a>
									</li>
									<li><a href="#"><i class="fa fa-star"></i></a>
									</li>
									<li><a href="#"><i class="fa fa-star"></i></a>
									</li>
									<li><a href="#"><i class="fa fa-star"></i></a>
									</li>
								</ul>
								<p>Absolutely delicious! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi.</p>
							</div>
						</div>
						<!-- end item class div-->

						<div class="item">
							<img src="img/content/sm-slide-img1.png" alt="img-1">
							<div class="details">
								<h5><a href="#">jane doe</a>
								</h5>
								<ul class="list-inline">
									<li><a href="#"><i class="fa fa-star"></i></a>
									</li>
									<li><a href="#"><i class="fa fa-star"></i></a>
									</li>
									<li><a href="#"><i class="fa fa-star"></i></a>
									</li>
									<li><a href="#"><i class="fa fa-star"></i></a>
									</li>
									<li><a href="#"><i class="fa fa-star"></i></a>
									</li>
								</ul>
								<p>Absolutely delicious! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi.</p>
							</div>
						</div>
						<!-- end item class div-->

						<div class="item">
							<img src="img/content/sm-slide-img-2.png" alt="img-2">
							<div class="details">
								<h5><a href="#">chrich woods</a>
								</h5>
								<ul class="list-inline">
									<li><a href="#"><i class="fa fa-star"></i></a>
									</li>
									<li><a href="#"><i class="fa fa-star"></i></a>
									</li>
									<li><a href="#"><i class="fa fa-star"></i></a>
									</li>
									<li><a href="#"><i class="fa fa-star"></i></a>
									</li>
									<li><a href="#"><i class="fa fa-star"></i></a>
									</li>
								</ul>
								<p>Absolutely delicious! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi.</p>
							</div>
						</div>
						<!-- end item class div-->
					</div>
					<!-- end i.slide-content -->
				</div>
				<!-- end .container-->
			</div>
			<!-- end .sm-slide-section-->
            </div>
		</div>
		<!-- end #page-content -->
		<!--footer start-->
		<footer id="footer">
			

			<div class="footer-copyright">
				<div class="container">
					<p>Copyright 2014 © TakeAway. All rights reserved. Powered by <a href="#">UOUapps</a>.</p>
					<ul class="footer-social">
						<li><a href="#"><i class="fa fa-facebook-square"></i></a>
						</li>
						<li><a href="#"><i class="fa fa-twitter-square"></i></a>
						</li>
						<li><a href="#"><i class="fa fa-google-plus-square"></i></a>
						</li>
						<li><a href="#"><i class="fa fa-linkedin-square"></i></a>
						</li>
						<li><a href="#"><i class="fa fa-pinterest-square"></i></a>
						</li>
					</ul>
					<!-- end .footer-social -->
				</div>
			</div>
		</footer>
		<!-- end #footer -->
		
	</div>
	<script>
	window.jQuery || document.write('<script src="js/jquery-1.11.0.min.js"><\/script>')
	</script>

	<script>
            

               
	
	</script>


</div>