<div ng-controller="menuCartController as menuCtrl">
    <div id="main-wrapper">
        <!-- thumbnail slide section -->
        <div id="page-content">
            <!-- start #main-wrapper -->
            <div class="container">
                <div class="row mt30">
                    <div class="col-md-9 col-sm-12 col-md-push-3">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="active">
                                <a href="#tab-1" role="tab" data-toggle="tab" ng-click="menuCtrl.getCartDetails(0)">All</a>
                            </li>
                            <li ng-repeat="category in menuCtrl.categoryList ">
                                <a role="tab" data-toggle="tab" ng-bind="category.categoryName" ng-click="menuCtrl.getCartDetails(category.id)"></a>
                            </li>
                        </ul>

                        <div class="view-style dsn">
                            <div class="list-grid-view">
                                <button class="thumb-view">
                                    <i class="fa fa-list"></i>
                                </button>
                                <button class="without-thumb">
                                    <i class="fa fa-align-justify"></i>
                                </button>
                                <button class="grid-view">
                                    <i class="fa fa-th-list"></i>
                                </button>
                            </div>
                            <!-- end .list-grid-view -->

                            <div class="page-list text-right">
                                <ul class="list-unstyled list-inline">
                                    <li class="active">
                                        <a href="#">1</a>
                                    </li>
                                    <li>
                                        <a href="#">2</a>
                                    </li>
                                    <li>
                                        <a href="#">3</a>
                                    </li>
                                    <li>
                                        <a href="#">4</a>
                                    </li>
                                    <li>
                                        <a href="#">5</a>
                                    </li>
                                    <li>
                                        <a href="#">6</a>
                                    </li>
                                </ul>
                            </div>
                            <!-- end .page-list -->
                        </div>
                        <!-- end view-style -->
                        <div class="tab-content">
                            <div class="tab-pane fade in active" id="tab-1" ng-repeat="(categoryName,subCategoryMap) in menuCtrl.cartDetails">
                                <h4 ng-bind="categoryName"></h4>
                                <div class="all-menu-details" ng-repeat="(subcateGoryName,itemMap) in subCategoryMap">
                                    <h5 ng-bind="subcateGoryName"></h5>
                                    <div class="item-list" ng-repeat="item in itemMap | filter: menuCtrl.searchKeyword">
                                        <div class="all-details">
                                            <div class="visible-option">
                                                <div class="details">
                                                    <h6>
                                                        <a ng-bind="item.itemName"></a>
                                                    </h6>
                                                    <p class="for-list" ng-bind="item.desc"></p>
                                                </div>

                                                <div class="price-option fl">
                                                    <h4 ng-bind="item.price"></h4>
                                                    <button class="toggle" data-toggle="collapse" data-target="#demo{{item.id}}">Option</button>
                                                </div>
                                                <div class="qty-cart text-center">
                                                    <h6>Qty</h6>
                                                    <form class="default-form">
                                                        <input type="number" ng-model="item.quantity" ng-change="menuCtrl.addOrRemoveItem(item)" placeholder="0">
                                                        <br>
                                                        <button>
                                                            <i class="fa fa-shopping-cart"></i>
                                                        </button>
                                                    </form>
                                                </div>
                                            </div>
                                            <div class="dropdown-option clearfix collapse" id="demo{{item.id}}" style="height: 0px;">
                                                <div class="dropdown-details">
                                                    <form class="default-form">
                                                        <h5>Please Select Your Option</h5>
                                                        <h6>Your Request </h6>
                                                        <textarea ng-model="item.specialReq" placeholder="Write here"></textarea>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="item-list" ng-if="itemMap.length == 0">
                                            <div class="all-details">
                                                <div class="visible-option">
                                                    <div class="details">
                                                        <h6>
                                                            <a>No Item Found</a>
                                                        </h6>
                                                        <p class="for-list"></p>
                                                    </div>
    
                                                    <div class="price-option fl">
                                                        <h4 ng-bind="item.price"></h4>
                                                        <button class="toggle" ></button>
                                                    </div>
                                                    <div class="qty-cart text-center">
                                                        <h6></h6>
                                                        <form class="default-form">
                                                            <input >
                                                            <br>
                                                            <button>
                                                                <i ></i>
                                                            </button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>




                                </div>


                                <!-- end .pagination -->
                            </div>
                            <!-- end .tab-pane -->
                            <div class="pagination">
                                <ul class="list-inline  text-right">
                                    <li class="active">
                                        <a href="#">1</a>
                                    </li>
                                    <li>
                                        <a href="#">2</a>
                                    </li>
                                    <li>
                                        <a href="#">3</a>
                                    </li>
                                    <li>
                                        <a href="#">4</a>
                                    </li>
                                    <li>
                                        <a href="#">5</a>
                                    </li>
                                    <li>
                                        <a href="#">6</a>
                                    </li>
                                </ul>
                            </div>


                        </div>
                        <!-- end .tab-content -->
                    </div>
                    <!--end main-grid layout-->

                    <!-- Side-panel begin -->
                    <div class="col-md-3 col-sm-12 col-xs-12 col-md-pull-9">
                        <div class="side-panel">
                            <div class="sd-panel-heading">
                                <h5 class="toggle-title">My Check</h5>
                                <div class="slideToggle">
                                    <ul class="list-unstyled">
                                        <li ng-repeat=" cartObj in menuCtrl.saveCartDetails track by $index">
                                            <div ng-init=" menuCtrl.editClick[$index]  = false;">
                                                <p class="checkOutItem" ng-if="menuCtrl.editClick[$index]">
                                                    <input type="number" class="inline-inputText" ng-model="cartObj.quantity" 
                                                    ng-change="menuCtrl.addOrRemoveItem(cartObj)" placeholder="0">
                                                </p>
                                                <p ng-bind="cartObj.quantity" ng-if="!menuCtrl.editClick[$index]" class="checkOutItem"></p>
                                                <p ng-bind="' x ' + cartObj.itemName" class="checkOutItem"></p>
                                                <span class="icon-link">
                                                    <i class="fa fa-pencil" ng-click="menuCtrl.editClick[$index] = !menuCtrl.editClick[$index]"></i>
                                                    <i class="fa fa-times" ng-click="cartObj.quantity = 0; menuCtrl.addOrRemoveItem(cartObj);"></i>
                                                </span>
                                            </div>
                                            <p class="price" ng-bind="'Price : '+ cartObj.price*cartObj.quantity"></p>
                                        </li>
                                        <li ng-if="menuCtrl.saveCartDetails.length == 0 ">
                                            <div>
                                                <p class="emptyCheckOut"> Your Cart is Empty.</p>
                                            </div>
                                        </li>
                                        <li ng-if="menuCtrl.saveCartDetails.length > 0">
                                            <p>Total</p>
                                            <p class="price-total" ng-bind="menuCtrl.totalPrice"></p>
                                        </li>
                                    </ul>

                                    <div class="checkout">
                                        <a class="btn btn-default-red" ng-click="menuCtrl.openUserDetailsModel()">
                                            <i class="fa fa-shopping-cart"></i>Checkout</a>
                                    </div>
                                </div>
                                <!--end .slide-toggle -->
                            </div>
                            <!-- end .sd-side-panel class -->

                            <div class="search-keyword">
                                <input type="text" ng-model="menuCtrl.searchKeyword" placeholder="Search by keyword">
                                <button type="submit" value="">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                        </div>
                        <!-- end side-panel -->
                    </div>
                    <!--end .col-md-3 -->
                </div>
                <!-- end .row -->
            </div>
            <!--end .container -->
        </div>
    </div>





</div>