<div ng-controller="orderReviewController as orCtrl">




        <div class="ml15p mr15p mt15 mb25" ng-repeat=" cartObj in orCtrl.cartList track by $index" ng-if="orCtrl.cartList.length > 0 ">
                <div class="side-panel">
                    <div class="sd-panel-heading">
                        <h5 class="toggle-title" id="toggleTitle" ng-click="orCtrl.h5click()" >
                            <span ng-bind="'You Order Id : '+ cartObj.orderId"></span>
                            <span class='pull-right mr5p'>
                                <span>Date : </span>
                                <!-- <span  ng-bind="cartObj.createdDate | date : 'MM/dd/yyyy'"></span> -->
                                <span  ng-bind="cartObj.createdDate"></span>
                            </span>

                        </h5>
                        <div class="slideToggle">
                            <ul class="list-unstyled">
                                <li>
                                    <div ng-repeat="ordObj in cartObj.orderList">
                                        <p ng-bind="ordObj.quantity"  class="checkOutItem"></p>
                                        <p ng-bind="' x ' + ordObj.itemName " class="checkOutItem"></p>
                                        <p ng-bind="' ( ' + ordObj.specialReq + ' )'" ng-if="ordObj.specialReq" class="checkOutItem"></p>
                                        
                                        <p class= 'pull-right bold mr5p' ng-bind="' '+ ordObj.quantity * ordObj.price" class="checkOutItem"></p>&nbsp;
                                        <p class= 'pull-right' ng-bind="' x ' + ordObj.price + ' = '" class="checkOutItem"></p>&nbsp;
                                        <p class= 'pull-right' ng-bind="ordObj.quantity+' '"  class="checkOutItem"></p>&nbsp;


                                    </div>
                                    <!-- <p class="price" ng-bind="'Price : '+ cartObj.totalValue"></p> -->
                                </li>
                                <li class= '' >
                                    <p class="total-text">Total</p>
                                    <p class="price-total pull-right mr5p" ng-bind="cartObj.totalValue"></p>
                                </li>
                            </ul>

                            <div class="checkout" ng-if="cartObj.isCompleted == 0 && orCtrl.checkofCancel(cartObj.createdDate)">
                                <a class="btn btn-default-red" ng-click="orCtrl.cancelOrder(cartObj)">
                                    <i class="fa fa-shopping-cart"></i>Cancel Your Order ?</a>
                            </div>
                        </div>
                        <!--end .slide-toggle -->
                    </div>
                    <!-- end .sd-side-panel class -->
                </div>
                <!-- end side-panel -->
            </div>






</div>
<script>


$("#test").click(function() {
    debugger;
		$(this).toggleClass('active')
			.next().slideToggle();

	});

</script>