    <div class="modal-header">
        <div ng-if="!uCtrl.isLogin">
            <h3 class="modal-title" id="modal-title">You have to First <b>Log In</b></h3>
        </div>
        <div ng-if="uCtrl.isLogin">
            <input  type="radio" name="test" ng-model="uCtrl.isForDelivery" ng-value="1" class="form-gorup"> Home Delivery
            <input  type="radio" name="test" ng-model="uCtrl.isForDelivery" ng-value="0" class="form-group" checked ng-checked="true"> Take way
        </div>
    </div>
    <div class="modal-body col-sm-12" id="modal-body">
        <div ng-if="!uCtrl.isLogin">
            <div class= "userDetailsDiv col-sm-4" ng-if="!uCtrl.isLogin"> 
                <p>login to your account</p>
                <div>
                    <input type="text"  class="form-control" ng-model="uCtrl.loginUser.email" placeholder="email">
                </div>
                <div>
                    <input type="password" class="form-control" ng-model="uCtrl.loginUser.pwd" placeholder="Password" >
                </div>
                <div>
                    <button class="btn btn-primary loginButton" type="button" ng-click="uCtrl.login()">Login</button>
                    <button class="btn btn-normal" type="button" ng-click="uCtrl.cancel()">Cancel</button>
                </div>
            </div>

            <div class= "userDetailsDiv col-sm-8" ng-if="!uCtrl.isLogin">
                    <p>Don't have account ! No Problem Register here.</p>
                    <div>
                        <input type="text"  class="form-control" ng-model="uCtrl.userDetails.name" placeholder="Full Name">
                    </div>
                    <div>
                        <input type="text"  class="form-control" ng-model="uCtrl.userDetails.email" placeholder="Email">
                    </div>
                    <div>
                        <input type="password" class="form-control" ng-model="uCtrl.userDetails.pwd" placeholder="Password" >
                    </div>
                    <div>
                        <input type="password" class="form-control" ng-model="uCtrl.cpwd"  placeholder="Confirm Password" >
                    </div>
                    <div>
                        <input type="number" class="form-control" ng-model="uCtrl.userDetails.phone" placeholder="Cell Number" >
                    </div>
                    <div>
                        <button class="btn btn-primary loginButton" type="button" ng-click="uCtrl.saveUserDetails()">Register</button>
                        <button class="btn btn-normal" type="button" ng-click="uCtrl.cancel()">Cancel</button>
                    </div>
            </div>
        </div>
        </div>

    </div>
    <div class="modal-footer ">
    </div>
